@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-1{
    border: 1px solid black;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-2{
    border: 1px solid black;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}